@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-icon {
    @apply relative flex items-center justify-center 
      h-8 w-8 mt-2 mb-2 mx-auto;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.presentation {
  font-family: "Audiowide", sans-serif;
  
}

.presentatin-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  font-size: 1.25em;
  margin-top: -6rem;
  line-height: 1.8;
}

.list-title {
  font-size: 1.75em;
  font-weight: bold;
}

.list-subtitle {
  font-size: 1.25em;
  font-weight: 600;

}

.list-content-first{
  margin: 1rem;
}

.list-content{
  border-left: 1px solid;
  margin: 1rem;
}

.call-to-action-element{
  border-radius: 30px;
}